<%- include('partials/header.ejs') %>
<% if (locals.check) { %>
    <div class="box heading"><h1><%=day%>, <%=month%> <%=date%></h1></div>  
    <div class="box " >
   <%todayList.forEach(  element => {%>
    
      <form class ="item" action="/delete" method="post">
      <input type="hidden" name="listName" value="todayList">
     <input class="Checkbox " type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%=element._id%>"  ><p><%=element.name%></p>
     
     </form>
   
    <%})%>
  
    <form action="/" class="Inputform" method="post">
      <input type="text" class="inputText" name="newItem" placeholder="New Item"><button  class="inputButton"  type="submit" value="todayList" name="listName">+</button>
    </form>
   
  </div>
  <% } else { %>
    <div class="box heading"><h1><%=listTitle%></h1></div>
      
    <div class="box">
   <%todayList.forEach(  element => {%>
   
      <form class ="item" action="/delete" method="post">
        <input type="hidden" name="listName" value="<%=listTitle%>">
        <input class="Checkbox" type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%=element._id%>"><p><%=element.name%></p>
        </form>
    
    <%})%>
  
    <form action="/"  class="Inputform" method="post">
      <input type="text" class="inputText" name="newItem" placeholder="New Item"><button  class="inputButton" type="submit" value="<%=listTitle%>" name="listName">+</button>
    </form>
   
  </div>
  <% } %>
  

 
<%- include('partials/footer.ejs') %>