<%- include('partials/header.ejs') %>
<% if (locals.check) { %>
    <div class="box heading"><h1><%=day%>, <%=month%> <%=date%></h1></div>  
    <div class="box " >
   <%for(var i=0;i<todayList.length;i++){%>
    <div class ="item">
    <input class="Checkbox" type="checkbox"  ><p><%=todayList[i]%></p>
    </div> 
    <%}%>
  
    <form action="/" class="Inputform" method="post">
      <input type="text" class="inputText" name="newItem" placeholder="New Item"><button  class="inputButton" type="submit" name="list">+</button>
    </form>
   
  </div>
  <% } else { %>
    <div class="box heading"><h1>Work List</h1></div>
      
    <div class="box">
   <%for(var i=0;i<todayList.length;i++){%>
    <div class ="item">
    <input class="Checkbox" type="checkbox"  ><p><%=todayList[i]%></p>
    </div>
    <%}%>
  
    <form action="/work" class="Inputform" method="post">
      <input type="text" class="inputText" name="newItem" placeholder="New Item"><button  class="inputButton" type="submit" name="list">+</button>
    </form>
   
  </div>
  <% } %>
  

 
<%- include('partials/footer.ejs') %>